@import '~assets/scss/variables';
@import 'node_modules/bootstrap/scss/variables';

.btn {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: $btn-letter-spacing;
  line-height: 0;
  padding: 1.5em;
  margin: .5em 0;

  &.fluid {
    width: 100%;
  }
}
.btn-outline-primary {
  border-color: $brand-primary;
  color: $brand-primary !important;

  &:hover {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: white !important;
  }
}
